.btn-primary{
    background: rgb(118,193,209);
    background: linear-gradient(133deg, rgba(118,193,209,1) 0%, rgba(39,114,177,1) 41%, rgba(38,99,136,1) 100%);
    border: none;
}

.center-text{
    justify-content: center;
    vertical-align: middle;
}

.card-header{
    background: rgb(34,97,162);
    background: linear-gradient(320deg, rgba(34,97,162,1) 23%, rgba(105,216,249,1) 100%);
}


.style-fs{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}


